@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$c_primary: #D3B88C;
$c_primary_light: #E5D6BD;
$c_primary_hover: darken(#0CD0C6, 5%);
$c_primary_gradient: linear-gradient(to left, #272727 20%, #906928);
$card_shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$c_success: #10b981;
$c_active:#8b5cf6;
$c_success_bg: #DCFFCC;
$c_warning: #d4af37;
$c_warning_bg: #FFF4DE;
$c_red: #ff0000;
$c_red_hover: #c20303;
$c_red_bg: #FFF1F1;
$c_info: #2b7fff;
$c_info_bg: #e0f3ff;
$c_form_bg: #FDFDFD;
$c_form_border: #E8E8E8;
$form_shadow: 0px 1.12px 2.24px 0px #E4E5E73D;
$c_heading: #101720;
$c_text: rgba($c_heading, .7);
$c_text_grey: rgba($c_heading, .6);
$c_highlight: #F5F8FA;
$c_grey: #F2F1F6;
$c_white: #ffffff;
$c_black: #000000;
$c_body: #5A5753;
$shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.08);
$shadow2: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
$shadow3: 0px 4px 30px 0px rgba(0, 0, 0, 0.13);
$radius_10: 10px;
$radius_15: 15px;
$radius_20: 20px;
$radius_30: 30px;
$border_primary:#e4e4e7;
$f_body: "Inter", sans-serif;
$transition: all 0.3s ease-in-out 0s;
$light_hover:#d3b88c26;

$c_black: #1d1d1f;
$c_gray: #555;
$c_light_bg: #f8f7f4;
$c_white: #fff;
$c_green: #22c55e;
$c_green_bg: #f0fdf4;
$c_gold: #c7a75e;
$c_gold_light: #f8f1df;
$c_border_light: #e5fbe9;

@mixin content-limit($line) {
  white-space: normal;
  display: -webkit-box !important;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}